@model WebBankMVC.Models.CustomerVM
@{
    ViewData["Title"] = "AccountConfirm";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h3>Then account was created, @Model.Name!</h3>
        <h3>Your accountnumber is @Model.AccountNumber</h3>
        <h3>The account was a @Model.AccountType</h3>
    </p>
</body>
</html>
