@model BankClassLib.Bank

@{
    ViewData["Title"] = "Home Page";
}


<div box-shadow">
    <div>
        <h1 class=" text-center">Welcome to  @Model.BankName</h1>
        <p class="text-center">The bank has @Model.Deposits$ in Deposits</p>
    </div>
    <p>New customer? Create a new account <a class="text-center" asp-action="Create">here.</a></p>

</div>



